<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include('partials/menu.ejs') %>

    <h1><%=title %> in EJS</h1>
    <% if (emailsVisible) {%>
        <h3>Emails</h3>
        <ul>
            <% for (let i = 0; i < emails.length; i++) {%>
                <li><%=emails[i] %></li>
            <%} %>
        </ul>
    <%} else {%>
        <h3>Email not found</h3>
    <%} %>
    <p>Phone: <%=phone %></p>

    <%- include('partials/footer.ejs') %>
</body>
</html>